/*
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define NUM 1
#define NPD 2
#define FN  3
#define SYS 4

#define SW_LNG &kp LG(SPACE)
#define ST(key) &hst_1500_250 key key

#define ST_LG(key) &hst_1500_250 LGUI key
#define ST_LA(key) &hst_1500_250 LALT key
#define ST_LC(key) &hst_1500_250 LCTRL key
#define ST_LS(key) &hst_1500_250 LSHIFT key
#define ST_RA(key) &hst_1500_250 RALT key



&lt {
    quick-tap-ms = <200>;
    require-prior-idle-ms = <200>;
};

&mt {
    quick-tap-ms = <200>;
    require-prior-idle-ms = <200>;
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2 3>;
            then-layer = <4>;
        };
    };

    macros {
        m_rm_rl: macro_release_mods_on_release_layer {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&macro_param_1to1>,
                <&macro_press &mo MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_tap &release_alt &release_ctrl &release_shft &release_gui>,
                <&macro_param_1to1>,
                <&macro_release &mo MACRO_PLACEHOLDER>;
        };

        m_hlor: macro_hold_layer_on_release {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&macro_pause_for_release>,
                <&macro_param_1to1>,
                <&macro_tap &to MACRO_PLACEHOLDER>;
        };
    };

    behaviors {
        lt_rm_200: layer_tap_release_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            bindings = <&m_rm_rl>, <&kp>;
        };

        sk_1500: sticky_key_1500 {
            compatible = "zmk,behavior-sticky-key";
            #binding-cells = <1>;
            bindings = <&kp>;
            release-after-ms = <1500>;
            quick-release;
            ignore-modifiers;
        };

        hs_1500_ul: hold_200_sticky_1500_undecided_linger {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            hold-while-undecided;
            hold-while-undecided-linger;
            bindings = <&kp>, <&sk_1500>;
        };

        hst_1500_250: hold_250_sticky_1500_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <250>;
            require-prior-idle-ms = <200>;
            bindings = <&sk_1500>, <&kp>;
        };

        press_alt: press_alt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kt LALT>, <&none>;
            mods = <(MOD_LALT)>;
        };

        press_ctrl: press_ctrl {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kt LCTRL>, <&none>;
            mods = <(MOD_LCTL)>;
        };

        press_shift: press_shift {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kt LSHFT>, <&none>;
            mods = <(MOD_LSFT)>;
        };

        press_gui: press_gui {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kt LGUI>, <&none>;
            mods = <(MOD_LGUI)>;
        };

        release_alt: release_alt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&none>, <&kt LALT>;
            mods = <(MOD_LALT)>;
        };

        release_ctrl: release_ctrl {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&none>, <&kt LCTRL>;
            mods = <(MOD_LCTL)>;
        };

        release_shft: release_shft {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&none>, <&kt LSHFT>;
            mods = <(MOD_LSFT)>;
        };

        release_gui: release_gui {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&none>, <&kt LGUI>;
            mods = <(MOD_LGUI)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
ST(LGUI)  &kp GRAVE  &kp Q     &kp W     &kp E       &kp R           &kp T          &kp Y          &kp U         &kp I                &kp O      &kp P             &kp LEFT_BRACKET  &mt RGUI RIGHT_BRACKET
          ST(LCTRL)  ST_LG(A)  ST_LA(S)  ST_LC(D)    ST_LS(F)        ST_RA(G)       ST_RA(H)       ST_LS(J)      ST_LC(K)             ST_LA(L)   ST_LG(SEMICOLON)  &mt RCTRL SQT
          ST(LALT)   &kp Z     &kp X     &kp C       &kp V           &kp B          &kp N          &kp M         &kp COMMA            &kp DOT    &kp SLASH         &mt LALT BSLH
                               &tog NPD  ST(LSHIFT)  &ltrm FN SPACE  &lt NUM TAB    &lt NUM ENTER  &lt FN SPACE  &mt RSHFT RG(SPACE)  &tog NPD
            >;
        };

        numbers {
            bindings = <
&kp LGUI  &kp F1          &kp F2           &kp F3        &kp F4        &kp F5        &kp F6         &kp F7     &kp F8         &kp F9        &kp F10   &kp F11   &kp F12          &kp RGUI
          &mt LCTRL PLUS  &kp NUMBER_1     &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5         &kp N6     &kp N7         &kp N8        &kp N9    &kp N0    &mt RCTRL MINUS
          &mt LALT EQUAL  &kp EXCLAMATION  &kp AT        &kp HASH      &kp DOLLAR    &kp PERCENT    &kp CARET  &kp AMPERSAND  &kp ASTERISK  &kp LPAR  &kp RPAR  &mt LALT UNDER
                                           &trans        &trans        &trans        &trans         &trans     &trans         &trans        &trans
            >;
        };

        numpad {
            bindings = <
&kp LGUI  &none      &none   &none   &none   &none   &none     &kp KP_MULTIPLY  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_DIVIDE  &kp ESCAPE     &mt RGUI KP_NUM
          &kp LCTRL  &none   &none   &none   &none   &none     &kp KP_PLUS      &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_MINUS   &mt RCTRL KP_ENTER
          &kp LALT   &none   &none   &none   &none   &none     &kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_DOT     &mt LALT C_AL_CALC
                             &trans  &trans  &trans  &trans    &trans           &trans           &trans           &trans
            >;
        };

        function {
            bindings = <
&m_hlor FN  &none     &none     &none           &none           &none          &none         &kp ESC    &kp HOME   &kp UP     &kp END    &kp INSERT  &none    &none
            &kp CAPS  &kp LWIN  &kp LALT        &kp LCTRL       &kp LSHFT      &sk RALT      &kp BSPC   &kp LEFT   &kp DOWN   &kp RIGHT  &kp DEL     &kp TAB
            &none     &none     &none           &none           &none          &none         &kp ENTER  &kp SPACE  &kp PG_UP  &kp PG_DN  &kp K_APP   &none
                                &trans          &trans          &trans         &trans        &trans     &trans     &trans     &trans
            >;
        };

        system {
            bindings = <
&to 0  &bootloader  &none         &none         &none         &none         &studio_unlock    &studio_unlock  &none         &none         &none         &none         &bootloader  &none
       &bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &bt BT_SEL 4    &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &bt BT_CLR
       &sys_reset   &none         &none         &none         &none         &none             &none           &none         &none         &none         &none         &sys_reset
                                  &trans        &trans        &trans        &trans            &trans          &trans        &trans        &trans
            >;
        };
    };
};
