/*
 * Copyright (c) 2023 Andrei Gaevskii
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt {
    quick_tap_ms = <200>;
};

&mt {
    quick_tap_ms = <200>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp LWIN  &kp GRAVE  &kp Q  &kp W  &kp E        &kp R           &kp T               &kp Y        &kp U      &kp I      &kp O     &kp P       &kp LBKT  &mt RWIN RBKT
          &kp LCTRL  &kp A  &kp S  &kp D        &kp F           &kp G               &kp H        &kp J      &kp K      &kp L  &kp SEMI  &mt RCTRL SQT
           &kp LALT  &kp Z  &kp X  &kp C        &kp V           &kp B               &kp N        &kp M  &kp COMMA    &kp DOT  &kp FSLH  &mt RALT BSLH
                            &none  &mo 1  &lt 2 SPACE  &kp LEFT_SHIFT    &mt RSHIFT ENTER  &lt 2 SPACE      &mo 1  &kp K_APP
            >;
        };

        lower_layer {
            bindings = <
&trans          &kp F1    &kp F2  &kp F3    &kp F4    &kp F5     &kp F6       &kp F7    &kp F8    &kp F9   &kp F10   &kp F11             &kp F12  &kp RGUI
        &mt LCTRL PLUS  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS  &kp STAR  &kp LPAR  &kp RPAR     &mt RCTRL UNDER
        &mt LALT EQUAL    &kp N1  &kp N2    &kp N3    &kp N4     &kp N5       &kp N6    &kp N7    &kp N8    &kp N9    &kp N0  &mt MINUS LEFT_ALT
                                  &trans    &trans    &trans     &trans       &trans    &trans    &trans    &trans
            >;
        };

        raise_layer {
            bindings = <
&trans   &none     &none     &none      &none       &none     &none     &kp C_VOL_UP  &kp HOME     &kp UP    &kp END  &none      &none  &trans
        &trans  &kp LWIN  &kp LALT  &kp LCTRL  &kp LSHIFT  &sk RALT          &kp TAB  &kp LEFT   &kp DOWN  &kp RIGHT  &none  &kp RCTRL
        &trans     &none     &none      &none       &none     &none    &kp BACKSPACE   &kp DEL  &kp PG_UP  &kp PG_DN  &none   &kp LALT
                            &trans      &mo 3      &trans    &trans           &trans    &trans      &mo 3     &trans
            >;
        };

        adjust_layer {
            bindings = <
&none  &bootloader         &none         &none         &none         &none         &none           &none         &none         &none         &none         &none  &bootloader  &none
        &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0   &bt BT_CLR
        &sys_reset         &none         &none         &none         &none         &none           &none         &none         &none         &none         &none   &sys_reset
                                         &none        &trans         &none        &trans          &trans         &none        &trans         &none
            >;
        };
    };
};
